.header
  .container
    .header__content
      a.header__logo(href='/')
        img(class="header__img" src='images/header/logo.png' alt='')
      .header__address г. Курск, ул. Ленина, д. 3
      .header__mail 78003332222@yandex.ru
      .header__phone
        .header__namber +7 (800) 333 2 222
        .header__grapfic Работаем с 11.00 до 23.00
      a.header__button(href="#") Обратный звонок
    nav.header__menu
      ul.header__list
        li.header__item
          a.header__link(href="#") Меню
            svg.svg-inline--fa.fa-angle-down.fa-w-10(aria-hidden='true', data-prefix='fas', data-icon='angle-down',
            role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 320 512')
              path(fill='currentColor', d='M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4' +
              ' 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2' +
              ' 9.4-24.4 9.4-33.8 0z')
        li.header__item
          a.header__link(href="#") Акции и скидки
        li.header__item
          a.header__link(href="#") Доставка и оплата
        li.header__item
          a.header__link(href="#") Новости
        li.header__item
          a.header__link(href="#") Контакты
      .header__home
        a.header__user(href="#") Кабинет
        a.header__basket(href="#") Корзина

