.header
  .container
    .header__content
      a.header__logo(href='/')
        img(class="header__img" src='images/header/logo.png' alt='')
      .header__address г. Курск, ул. Ленина, д. 3
      .header__mail 78003332222@yandex.ru
      .header__phone
        .header__namber +7 (800) 333 2 222
        .header__grapfic Работаем с 11.00 до 23.00
      a.header__button(href="#") Обратный звонок

