include /blocks/product/index

.pizza
  .container
    .pizza__content
      .title Пицца
      .slider__slider
        .swiper-container.swiper__section
          .swiper-wrapper.slider__wrapper
            -
              var pizza = [
                {
                  icon: 'images/backgraund-pizza1.png',
                  title: 'Баварская',
                  name: 'Баварская',
                  size: '33 см.',
                  weight: '680',
                  calories: '1350',
                  price: '480'
                },
                {
                  veg: 'true',
                  icon: 'images/backgraund-pizza2.png',
                  title: 'Вегетарианская',
                  name: 'Вегетарианская',
                  size: '33 см.',
                  weight: '755',
                  calories: '1800',
                  price: '380'
                },
                {
                  icon: 'images/backgraund-pizza3.png',
                  title: 'Пепперони',
                  name: 'Пепперони',
                  size: '33 см.',
                  weight: '615',
                  calories: '1400',
                  price: '450'
                },
                {
                  icon: 'images/backgraund-pizza4.png',
                  title: 'Классическая',
                  name: 'Классическая',
                  size: '33 см.',
                  weight: '590',
                  calories: '1490',
                  price: '390'
                },
                {
                  icon: 'images/backgraund-pizza1.png',
                  title: 'Баварская',
                  name: 'Баварская',
                  size: '33 см.',
                  weight: '680',
                  calories: '1350',
                  price: '480'
                }
              ]

            each onepizza in pizza
              .swiper-slide.slider__slide
                +productCard(onepizza)


          .swiper-pagination.pizza__pagination
          .swiper-button-prev.pizza__prev
            svg.svg-inline--fa.fa-arrow-left.fa-w-14(aria-hidden='true', data-prefix='fas', data-icon='arrow-left',
            role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 448 512')
              path(fill='currentColor', d='M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6' +
              ' 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24' +
              ' 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z')
          .swiper-button-next.pizza__next
            svg.svg-inline--fa.fa-arrow-left.fa-w-14(aria-hidden='true', data-prefix='fas', data-icon='arrow-left',
              role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 448 512')
              path(fill='currentColor', d='M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6' +
              ' 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24' +
              ' 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z')
