.action
  .container
    .action__content
      ul.action__caption
        li.action__tab.active
          a(href="#tab-1") Новинка
        li.action__tab
          a(href="#tab-2") Акция
      .action__tabs(id='tab-1')
        .slider__slider
          .swiper-container.swiper__section
            .swiper-wrapper.slider__wrapper
              -
                var action = [
                {
                new: 'true',
                icon: 'images/action-bg-1.png',
                title: 'Кунсей батакон',
                name: 'Кунсей батакон',
                size: '8 шт.',
                weight: '250',
                calories: '350',
                price: '260'
                },
                {
                actions: 'true',
                icon: 'images/action-bg-2.png',
                title: 'Унаги диру',
                name: 'Унаги диру',
                size: '8 шт.',
                weight: '960',
                calories: '800',
                price: '280'
                },
                {
                new: 'true',
                icon: 'images/action-bg-3.png',
                title: 'Филадельфия',
                name: 'Филадельфия',
                size: '8 шт.',
                weight: '450',
                calories: '400',
                price: '280'
                },
                {
                actions: 'true',
                icon: 'images/action-bg-4.png',
                title: 'Мексиканский',
                name: 'Мексиканский',
                size: '8 шт.',
                weight: '460',
                calories: '490',
                price: '290'
                },
                {
                new: 'true',
                icon: 'images/action-bg-1.png',
                title: 'Кунсей батакон',
                name: 'Кунсей батакон',
                size: '8 шт.',
                weight: '250',
                calories: '350',
                price: '260'
                },
                {
                actions: 'true',
                icon: 'images/action-bg-2.png',
                title: 'Унаги диру',
                name: 'Унаги диру',
                size: '8 шт.',
                weight: '960',
                calories: '800',
                price: '280'
                },
                {
                new: 'true',
                icon: 'images/action-bg-3.png',
                title: 'Филадельфия',
                name: 'Филадельфия',
                size: '8 шт.',
                weight: '450',
                calories: '400',
                price: '280'
                },
                {
                actions: 'true',
                icon: 'images/action-bg-4.png',
                title: 'Мексиканский',
                name: 'Мексиканский',
                size: '8 шт.',
                weight: '460',
                calories: '490',
                price: '290'
                },
                {
                actions: 'true',
                icon: 'images/action-bg-4.png',
                title: 'Мексиканский',
                name: 'Мексиканский',
                size: '8 шт.',
                weight: '460',
                calories: '490',
                price: '290'
                },
                {
                new: 'true',
                icon: 'images/action-bg-3.png',
                title: 'Филадельфия',
                name: 'Филадельфия',
                size: '8 шт.',
                weight: '450',
                calories: '400',
                price: '280'
                }
                ]

              each oneaction in action
                if oneaction.new
                  .swiper-slide.slider__slide
                    +productCard(oneaction)


            .swiper-pagination.action__pagination
            .swiper-button-prev.action__prev
              svg.svg-inline--fa.fa-arrow-left.fa-w-14(aria-hidden='true', data-prefix='fas', data-icon='arrow-left',
              role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 448 512')
                path(fill='currentColor', d='M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6' +
                ' 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24' +
                ' 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z')
            .swiper-button-next.action__next
              svg.svg-inline--fa.fa-arrow-left.fa-w-14(aria-hidden='true', data-prefix='fas', data-icon='arrow-left',
              role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 448 512')
                path(fill='currentColor', d='M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6' +
                ' 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24' +
                ' 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z')

      .action__tabs(id='tab-2')
        .slider__slider
          .swiper-container.swiper__section
            .swiper-wrapper.slider__wrapper
              -
                var action = [
                {
                new: 'true',
                icon: 'images/action-bg-1.png',
                title: 'Кунсей батакон',
                name: 'Кунсей батакон',
                size: '8 шт.',
                weight: '250',
                calories: '350',
                price: '260'
                },
                {
                actions: 'true',
                icon: 'images/action-bg-2.png',
                title: 'Унаги диру',
                name: 'Унаги диру',
                size: '8 шт.',
                weight: '960',
                calories: '800',
                price: '280'
                },
                {
                new: 'true',
                icon: 'images/action-bg-3.png',
                title: 'Филадельфия',
                name: 'Филадельфия',
                size: '8 шт.',
                weight: '450',
                calories: '400',
                price: '280'
                },
                {
                actions: 'true',
                icon: 'images/action-bg-4.png',
                title: 'Мексиканский',
                name: 'Мексиканский',
                size: '8 шт.',
                weight: '460',
                calories: '490',
                price: '290'
                },
                {
                new: 'true',
                icon: 'images/action-bg-1.png',
                title: 'Кунсей батакон',
                name: 'Кунсей батакон',
                size: '8 шт.',
                weight: '250',
                calories: '350',
                price: '260'
                },
                {
                actions: 'true',
                icon: 'images/action-bg-2.png',
                title: 'Унаги диру',
                name: 'Унаги диру',
                size: '8 шт.',
                weight: '960',
                calories: '800',
                price: '280'
                },
                {
                new: 'true',
                icon: 'images/action-bg-3.png',
                title: 'Филадельфия',
                name: 'Филадельфия',
                size: '8 шт.',
                weight: '450',
                calories: '400',
                price: '280'
                },
                {
                actions: 'true',
                icon: 'images/action-bg-4.png',
                title: 'Мексиканский',
                name: 'Мексиканский',
                size: '8 шт.',
                weight: '460',
                calories: '490',
                price: '290'
                },
                {
                actions: 'true',
                icon: 'images/action-bg-4.png',
                title: 'Мексиканский',
                name: 'Мексиканский',
                size: '8 шт.',
                weight: '460',
                calories: '490',
                price: '290'
                },
                {
                new: 'true',
                icon: 'images/action-bg-3.png',
                title: 'Филадельфия',
                name: 'Филадельфия',
                size: '8 шт.',
                weight: '450',
                calories: '400',
                price: '280'
                }
                ]

              each oneaction in action
                if oneaction.actions
                  .swiper-slide.slider__slide
                    +productCard(oneaction)


            .swiper-pagination.action__pagination
            .swiper-button-prev.action__prev
              svg.svg-inline--fa.fa-arrow-left.fa-w-14(aria-hidden='true', data-prefix='fas', data-icon='arrow-left',
              role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 448 512')
                path(fill='currentColor', d='M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6' +
                ' 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24' +
                ' 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z')
            .swiper-button-next.action__next
              svg.svg-inline--fa.fa-arrow-left.fa-w-14(aria-hidden='true', data-prefix='fas', data-icon='arrow-left',
              role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 448 512')
                path(fill='currentColor', d='M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6' +
                ' 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24' +
                ' 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z')

