include /blocks/product/index

.sets
  .container
    .sets__content
      .title Сеты
      .slider__slider
        .swiper-container.swiper__section
          .swiper-wrapper.slider__wrapper
            -
              var sets = [
                {
                  hit: 'true',
                  icon: 'images/backgraund-product1.png',
                  title: 'Сет №10',
                  name: 'Сет №10',
                  size: '72 шт.',
                  weight: '1560',
                  calories: '1700',
                  price: '2050'
                },
                {
                  icon: 'images/backgraund-product2.png',
                  title: 'Сет №8',
                  name: 'Сет №8',
                  size: '24 шт.',
                  weight: '960',
                  calories: '800',
                  price: '1590'
                },
                {
                  icon: 'images/backgraund-product3.png',
                  title: 'Минисет №5',
                  name: 'Минисет №5',
                  size: '14 шт.',
                  weight: '450',
                  calories: '400',
                  price: '510'
                },
                {
                  veg: 'true',
                  icon: 'images/backgraund-product4.png',
                  title: 'Сет №6',
                  name: 'Сет №6',
                  size: '16 шт.',
                  weight: '460',
                  calories: '490',
                  price: '400'
                },
                {
                  veg: 'true',
                  icon: 'images/backgraund-product4.png',
                  title: 'Сет №6',
                  name: 'Сет №6',
                  size: '16 шт.',
                  weight: '460',
                  calories: '490',
                  price: '400'
                },
                {
                  icon: 'images/backgraund-product2.png',
                  title: 'Сет №8',
                  name: 'Сет №8',
                  size: '24 шт.',
                  weight: '960',
                  calories: '800',
                  price: '1590'
                }
              ]

            each set in sets
              .swiper-slide.slider__slide
                +productCard(set)

          // If we need pagination
          .swiper-pagination
          // If we need navigation buttons
          .swiper-button-prev.sets__prev
            svg.svg-inline--fa.fa-arrow-left.fa-w-14(aria-hidden='true', data-prefix='fas', data-icon='arrow-left',
            role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 448 512')
              path(fill='currentColor', d='M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6' +
              ' 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24' +
              ' 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z')
          .swiper-button-next.sets__next
            svg.svg-inline--fa.fa-arrow-left.fa-w-14(aria-hidden='true', data-prefix='fas', data-icon='arrow-left',
            role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 448 512')
              path(fill='currentColor', d='M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6' +
              ' 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24' +
              ' 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z')


