extends /layout/app

block content
  .home
    section.home__intro
      include intro/intro
    section.home__sets
      include sets/sets
    section.home__rolls
      include rolls/rolls
    section.home__pizza
      include  pizza/pizza
    section.home__wok
      include wok/wok
    section.home__action
      include action/action
    section.home__motivation
      include motivation/motivation


  //  | CONTENT
  //  h1 example block
  //  .block-example(style='height: 100px')
  //    | Example block
  //  h1 example require image
  //  img(src='images/square.png' alt='')
  //  div(style="background-image: url(${require('images/square3.png')}); height: 100px")
