.swiper__section
  margin: 60px 0 0 0
  padding-bottom: 68px

.intro

  &__slide
    background: url("intro-backgraund.png") no-repeat
    height: 675px
    background-position: 50%

  &__info
    padding: 108px 0 0 20px

  &__title
    width: fit-content
    position: relative
    padding-right: 214px
    font-family: $font-family-second
    font-size: 110px
    font-weight: 400
    line-height: 100px
    color: $color-green

  &__action
    position: absolute
    right: 0
    top: -20px
    display: flex
    width: 141px
    height: 141px
    border-radius: 50%
    background-color: #d92024

    p
      margin: auto
      font-family: $font-family-base
      font-size: 29px
      font-weight: 700
      line-height: 40px
      text-align: center
      color: #ffffff

  &__time
    padding: 50px 0 55px 8px
    color: #ffffff
    font-size: 26px
    font-style: italic

  &__button
    position: relative
    display: block
    width: fit-content
    margin-left: 10px
    padding: 17px 74px
    text-decoration: none
    color: #fefffe
    font-size: 16px
    font-weight: 400
    letter-spacing: 0.55px
    border-radius: 5px
    background-color: $color-button
    text-transform: uppercase
    overflow: hidden
    //transition: 0.4s

    //&::before
    //  content: ""
    //  position: absolute
    //  top: -65%
    //  left: -80%
    //  display: block
    //  width: 100px
    //  height: 100px
    //  border: 50px solid #f2f2f2
    //  border-top: transparent
    //  border-right: transparent
    //  transform: rotate(45deg) translateY(-10%)
    //  opacity: 0.6
    //  transition: left 1s
    //
    //&:hover
    //  background-color: #d92024
    //
    //  &::before
    //    left: 120%
    //    border: 50px solid #f2f2f2
    //    border-left: transparent
    //    border-bottom: transparent

    &::before
      content: ""
      position: absolute
      display: flex
      top: 40%
      left: 50%
      margin: auto
      width: 0
      height: 0
      border-radius: 50%
      color: #ffffff
      background-color: #d92024
      opacity: 1
      transition: 0s

    &:hover
      font-size: 0px
      padding: 28px 122px


      &::before
        content: "ПРО АКЦИЮ"
        font-size: 16px
        top: -210%
        left: -10%
        width: 300px
        height: 291px
        align-items: center
        padding-left: 99px

  &__prev
    left: calc(50% - 800px)
    display: flex
    width: 53px
    height: 53px
    border-radius: 50%
    background-color: #000000
    opacity: 0.5
    background-image: none

    svg
      width: 17px
      margin: auto
      color: #ffffff
      transform: rotate(90deg)

    &:hover
      opacity: 1



    @media (max-width: 1620px)
      left: 20px

  &__next
    right: calc(50% - 800px)
    display: flex
    width: 53px
    height: 53px
    border-radius: 50%
    background-color: #000000
    background-image: none
    opacity: 0.5

    svg
      width: 17px
      margin: auto
      color: #ffffff
      transform: rotate(270deg)

    &:hover
      opacity: 1


    @media (max-width: 1620px)
      right: 20px

  .swiper-pagination-bullet
    width: 13px
    height: 13px
    border: 2px solid #c2c2c2
    margin: 0 12px !important
    background-color: transparent
    opacity: 1

  .swiper-pagination-bullet-active
    border-color: #1fba0a
    background-color: #1fba0a

.rolls,
.sets,
.pizza,
.wok,
.action

  &__content
    margin: 70px 0 40px


  &__prev
    bottom: 0
    top: inherit
    left: calc(50% - 120px)
    background: none

    svg
      margin-top: 9px

      path
        color: #808080



  &__next
    bottom: 0
    top: inherit
    right: calc(50% - 120px)
    background: none


    svg
      margin-top: 9px
      transform: rotate(180deg)

      path
        color: #808080



  .swiper-pagination-bullet-active
    background-color: #1fba0a

  .swiper-pagination-bullet
    margin: 0 11px!important

.action
  background: url("bg_new.png") no-repeat
  background-position: 50%

  .container
    padding: 50px 0 80px

  .swiper__section
    margin: 40px 0 0 0

//.action__tabs
//  display: none
//
//  &.active
//    display: block

.action__caption
  display: flex

  li
    padding: 10px 20px
    font-size: 18px
    font-weight: 400
    cursor: pointer
    margin-right: 29px

    &.active
      color: $color-button

    a
      text-decoration: none
      color: unset
