include /blocks/product/index

.rolls
  .container
    .rolls__content
      .title Роллы
      .slider__slider
        .swiper-container.swiper__section
          .swiper-wrapper.slider__wrapper
            -
              var rolls = [
                {
                  icon: 'images/backgraund-rolls1.png',
                  title: 'Кунсей батакон',
                  name: 'Кунсей батакон',
                  size: '8 шт.',
                  weight: '250',
                  calories: '350',
                  price: '260'
                },
                {
                  icon: 'images/backgraund-rolls2.png',
                  title: 'Унаги диру',
                  name: 'Унаги диру',
                  size: '8 шт.',
                  weight: '960',
                  calories: '800',
                  price: '280'
                },
                {
                  icon: 'images/backgraund-rolls3.png',
                  title: 'Филадельфия',
                  name: 'Филадельфия',
                  size: '8 шт.',
                  weight: '450',
                  calories: '400',
                  price: '280'
                },
                {
                  icon: 'images/backgraund-rolls4.png',
                  title: 'Мексиканский',
                  name: 'Мексиканский',
                  size: '8 шт.',
                  weight: '460',
                  calories: '490',
                  price: '290'
                },
                {
                  icon: 'images/backgraund-rolls2.png',
                  title: 'Унаги диру',
                  name: 'Унаги диру',
                  size: '8 шт.',
                  weight: '960',
                  calories: '800',
                  price: '280'
                }
              ]

            each roll in rolls
              .swiper-slide.slider__slide
                +productCard(roll)

          .swiper-pagination.rolls__pagination
          .swiper-button-prev.rolls__prev
            svg.svg-inline--fa.fa-arrow-left.fa-w-14(aria-hidden='true', data-prefix='fas', data-icon='arrow-left',
            role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 448 512')
              path(fill='currentColor', d='M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6' +
              ' 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24' +
              ' 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z')
          .swiper-button-next.rolls__next
            svg.svg-inline--fa.fa-arrow-left.fa-w-14(aria-hidden='true', data-prefix='fas', data-icon='arrow-left',
              role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 448 512')
              path(fill='currentColor', d='M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6' +
              ' 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24' +
              ' 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z')
