.contact
  .contact__background
    .contact__container
      .contact__content
        .contact__question Есть вопросы?
        h2.contact__title Оставьте свои контакты
        form.contact__form
          input.contact__input(placeholder="Ваше имя")
          label.contact__label
          input.contact__input(placeholder="Телефон")
          label.contact__label
          button.contact__button Отправить
        .contact__desc Нажимая на кнопку «Отправить», вы даете согласие на обработку своих персональных данных.

