.motivation
  .container
    .motivation__list
      -
        var motivation = [
        {
          image: '',
          text: ''
        },
        {
          image: '',
          text: ''
        },
        {
          image: '',
          text: ''
        },
        {
          image: '',
          text: ''
        },
        {
          image: '',
          text: ''
        },
        {
          image: '',
          text: ''
        },
        {
          image: '',
          text: ''
        },
        {
          image: '',
          text: ''
        },
        {
          image: '',
          text: ''
        },
        {
          image: '',
          text: ''
        }
        ]
      each onemotivation in motivation
        li.motivation__item
